@import '../../index.scss'; 
$greenBackground: '../../graphics/backgrounds/green_spread.svg'; 
$mapBackground: '../../graphics/backgrounds/campMap.png'; 

main {
    // background-image: url($greenBackground);
    background: linear-gradient(to bottom, $green 0%, $mediumGreen 37%, $inCommonBlue 100%);
}

.building {
    height: 2em;
}

.map {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    filter: drop-shadow(5px 5px 5px black);
}

.main-content {
    min-height: 900px;
    position: relative;
    z-index: 1; 
}

.grid-display {
    padding: 4em;
    margin: 4em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
    grid-gap: 1em; 
}

// 13 inch
@media screen and (max-width: 1400px) {
    

  }

// tablet
@media screen and (max-width: 1100px) {
    

}

// mobile
@media screen and (max-width: 600px) {
    

}