@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Finger+Paint&family=Poller+One&family=Righteous&family=Roboto&display=swap');

$site-font: 'Roboto', sans-serif;
$special:  'Cabin Sketch', cursive;

// font-family: 'Cabin Sketch', cursive;
// font-family: 'Finger Paint', cursive;
// font-family: 'Poller One', cursive;
// font-family: 'Righteous', cursive;

* {
    font-family: $site-font; 
}